.input-form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 582px !important;
    padding: 0 0 0 10px;
}

.input-form:hover{
    outline: 0 none;
}

.input-field {
    margin: 5px 0 0 15px;
    border-radius: 5px;
    height: 30px;
    width: 140px;
}

.input-field::-webkit-input-placeholder {
    line-height: normal;
    font-size: 13px;
    text-indent: 0px;
    vertical-align: top;
    padding-left: 10px;
    letter-spacing: -1px;
}

.input-field::-webkit-input-placeholder::after {
    font-family: fontAwesome;
    content: '\f002  ';
    color: grey;
    padding-left: 67px;
    font-size: 17px;
}