.jumbo_layout {
    margin: 11px 0px 0 67px;
    padding: 0 0px 26px 0;
    width: 1270px;
}

.three-blocks {
    padding-right: 0;
    margin-right: 0px;
    width: 990px;
    border-right: gainsboro 1px solid;
}

.jumbo-block {
    border-bottom: gainsboro;
    margin-bottom: -250px !important;
    padding-bottom: -250px !important;

}